<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻页</title>
  <!--插入头-->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/et-line-font.css">
    <link rel="stylesheet" href="/static/css/nivo-lightbox.css">
    <link rel="stylesheet" href="/static/css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>

<link href="/static/css/styles.css" rel="stylesheet" media="screen" type="text/css">
<link href="/static/css/animation.css" rel="stylesheet" media="screen" type="text/css">
<!-- 返回顶部调用 begin -->
<link href="/static/css/lrtk.css" rel="stylesheet" media="screen" type="text/css"/>
<link rel="stylesheet" type="text/css" href="/static/css/view.css">
<link rel="stylesheet" type="text/css" href="/static/css/markdown/perldoc.css">
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/js.js"></script>
<!-- 返回顶部调用 end-->
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>


<!-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar1" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">重庆邮电大学车联网展示平台</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/auto" class="smoothScroll">主页</a></li>
				<li><a href="/news" class="smoothScroll">新闻动态</a></li>
				<li><a href="/auto/team.html" class="smoothScroll">团队简介</a></li>
				<li><a href="/Photo/" class="smoothScroll">团队成员</a></li>
				<li><a href="/auto/research.html" class="smoothScroll">研究动态</a></li>
				<li><a href="/gallery" class="smoothScroll">照片展示</a></li>
				<li><a href="/auto/contact.html" class="smoothScroll">联系方式</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- **********************************************************************************************************************-->
<!-- **********************************************************************************************************************-->
<!-- **********************************************************************************************************************-->

</header>

{% block bodycontent %}
{% endblock bodycontent %}
<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"> <!--<a id="togbook" href="/e/tool/gbook/?bid=1"></a> --> <a id="gotop" href="javascript:void(0)"></a> </div>
<!-- 代码结束 -->
</body>
</html>