<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>实验室</title>
    <meta http-equiv="X-UA-Compatible" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/et-line-font.css">
    <link rel="stylesheet" href="/static/css/nivo-lightbox.css">
    <link rel="stylesheet" href="/static/css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar1" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">重庆邮电大学车联网展示平台</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/auto" class="smoothScroll">主页</a></li>
                <li><a href="/auto/team.html" class="smoothScroll">团队简介</a></li>
                <li><a href="/Photo/" class="smoothScroll">团队成员</a></li>
                <li><a href="#research" class="smoothScroll">研究动态</a></li>
                <li><a href="/gallery" class="smoothScroll">照片展示</a></li>
                <li><a href="/auto/contact.html" class="smoothScroll">联系方式</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- navigation section -->
<!-- **********************************************************************************************************************-->
<!-- **********************************************************************************************************************-->
<!-- **********************************************************************************************************************-->

<section id="research">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title" style="width: 90%">
                    <h1 class="heading bold">研究动态</h1>
                    <hr>
                    <h1>主要研究方向</h1>
                    <ol>
                        <li class="heading bold">车联网环境下复杂交通系统建模</li>
                        <img src="/static/images/R1.png" class="pic1">
                        <ul class="first-ul" >
                            <li>考虑车辆状态信息</li>
                            <li>考虑车辆动力学信息</li>
                            <li>考虑道路结构信息</li>
                            <li>考虑驾驶员特性信息</li>
                            <li>微小扰动法</li>
                            <li>非线性摄动法</li>
                        </ul>
                        <li class="heading bold">智能车编队控制</li>
                        <p>
                            基于多智能体理论和图论，利用Leader-Follower方法，
                            设计相应的控制协议，进行基于Lyapunov的稳定性分析，实现车辆的编队控制，保证车辆间的侧向间距为零、
                            纵向间距恒定且跟随车辆的速度与领导车辆一致。
                        </p>
                        <img src="/static/images/R2.png" style="width: 100%">
                        <li class="heading bold">城市交通车路协同控制仿真系统平台</li>
                        <p>
                            基于TransModeler软件，通过路网构建、交通数据加载、
                            控制算法设计、信号配时，利用GISDK和TsmAPI进行二次开发，实现城市交通的实时状态监控、路径诱导、
                            干道绿波控制、感应控制等。
                        </p>
                        <img src="/static/images/R3.png" style="width: 50%; " >
                        <img src="/static/images/R4.png" style="width:50%; float: right">
                        <li class="heading bold">车辆互联环境下协作式主动交通管理平台</li>
                        <img src="/static/images/R5.jpg" style="width: 50%; " >
                        <img src="/static/images/R6.png" style="width:50%; float: right">
                        <h4>4.1车辆互联环境下的交汇口防撞预警算法</h4>
                        <p>通过路侧设备获取交汇路段中的车辆状态信息，基于提出的TTC防撞预警算法，识别交汇口车辆间潜在的碰
                            撞风险，进而实时发布交汇路段车辆的预警等级和驾驶决策建议。</p>
                        <img src="/static/images/R7.jpg" style="width: 50%; " >
                        <img src="/static/images/R8.jpg" style="width:50%;height: 293.344px; float: right">
                        <h4>4.2车辆互联环境下车辆编队控制算法</h4>
                        <p>通过V2V/V2I通信技术，基于交通流跟驰模型，应用Leader-Follower方法，提出车辆队列形成、入队和出
                            队的综合控制，建立一套有效的车辆编队组织和管理机制。</p>
                        <img src="/static/images/R9.jpg" style="width: 50%; " >
                        <img src="/static/images/R10.jpg" style="width:50%; float: right;height: 277.516px">
                    </ol>
                    <hr>
                    <h1>科研项目</h1>
                    <ol>
                        <li>国家自然科学基金(Grant No. 61304197)：T-CPS环境下基于多Agent免疫协同进化理论的微观交通认知
                            方法研究. 2014.01- 2016.12. </li>
                        <li>重庆科技人才培养(创新青年科技人才培养)(Grant No. cstc2014kjrc-qnrc30002): 面向交通物联网的智
                            能路侧设备研发. 2014.12- 2017.10.</li>
                        <li>重庆市“151”科技重大专项子课题(Grant No. cstc2013jcsf-zdzxqqX0003)-车辆互联环境下协作式主动
                            交通管理技术研究.2015.09-2016.08.</li>
                        <li>重庆市工程技术研究中心(Grant No. cstc2011pt-gc30005-1)：重庆市交通物联网工程技术研究中心.
                            2012.12-2013.12. </li>
                        <li>国家重点研发计划子课题(Grant No. 2016YFB0100906-02)：智能电动汽车的车车/车路通信技术开发.
                            2016.07-2020.12. </li>
                        <li>重庆市应用开发重点项目(Grant No.cstc2014yykfB40001)：城市交通车路协同控制仿真系统开发.
                            2014.1-2016.12.</li>
                        <li>USDOT Region V Regional University Transportation Center (DTRT12-G-UTC05-159PU):Information
                            and Transportation Choices, Long- and Short-Term, that Link Sustainability and
                            Livability-Phase II. 2015.01-2016.12.</li>
                        <li>8.	重庆市决策咨询与管理创新重大项目(cstc2013jccxC00001-1)：重庆市“121”科技支撑示范工程机
                            制创新研究及应用. 2013.06-2015.06. </li>
                        <li>重庆市教委科学技术研究项目计划(Grant No. KJ 130506)：基于物联网的微观交通认知模型研究.
                            2013.01- 2014.12.</li>
                        <li>10.	中国工程院重大咨询项目(2012-ZD-15)：我国工业领域产业技术创新支撑体系建设研究.
                            2012.05-2015.04.</li>
                        <li>12.	重庆市自然科学基金院士专项(cstc2011jjys30001)：交通物联网的理论体系与关键基础研究.
                            2012.01-2015.06.</li>
                    </ol>
                    <hr>
                    <h1 class="heading bold">研究成果</h1>
                    <h2>1、学术论文</h2>
                    <table border="1" style="text-align: center">
                        <thead>
                        <tr>
                            <th style="width: 40px">序号</th>
                            <th>论文题目</th>
                            <th>刊物名称</th>
                            <th>刊物级别</th>
                            <th>时间</th>
                            <th>作者</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>1</th>
                            <th>A new lattice hydrodynamic model considering the effects of bilateral gaps on vehicular traffic flow</th>
                            <th>Nonlinear Dynamics(ISSN:0924-090X)</th>
                            <th>SCI, IF=3.000,
                                JCR一区</th>
                            <th>2016.07</th>
                            <th>李永福，宋宇，郑太雄，李银国</th>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th>A car-following model considering the effect of electronic throttle opening angle under connected environment</th>
                            <th>Nonlinear Dynamics
                                (ISSN:0924-090X)
                            </th>
                            <th>SCI, IF=3.000,
                                JCR一区
                            </th>
                            <th>2016.05</th>
                            <th>李永福，张力等</th>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th>Non-lane-discipline-based car-following model considering the effect of visual angle</th>
                            <th>Nonlinear Dynamics
                                (ISSN:0924-090X)
                            </th>
                            <th>SCI, IF=3.000,JCR一区</th>
                            <th>2016.08</th>
                            <th>李永福，张力等</th>
                        </tr>
                        <tr>
                            <th>4</th>
                            <th>Multiple measures based chaotic time series for traffic flow prediction based on Bayesian theory</th>
                            <th>Nonlinear Dynamics
                                (ISSN:0924-090X)
                            </th>
                            <th>SCI, IF=3.000,
                                JCR一区
                            </th>
                            <th>2016.07</th>
                            <th>李永福，蒋肖等</th>
                        </tr>
                        <tr>
                            <th>5</th>
                            <th>A sliding mode controller for vehicular traffic flow</th>
                            <th>Physica A
                                (ISSN:0378-4371)
                            </th>
                            <th>SCI, IF=1.785,
                                JCR二区
                            </th>
                            <th>2016.01</th>
                            <th>李永福，李科志等</th>
                        </tr>
                        <tr>
                            <th>6</th>
                            <th>Evaluating the performance of vehicular platoon control under different network topologies of initial states</th>
                            <th>Physica A
                                (ISSN:0378-4371)
                            </th>
                            <th>SCI, IF=1.785,
                                JCR二区
                            </th>
                            <th>2016.01</th>
                            <th>李永福，李科志等</th>
                        </tr>
                        <tr>
                            <th>7</th>
                            <th>Extended state observer based double loop integral sliding mode control of electronic throttle valve</th>
                            <th>IEEE Transactions on Intelligent Transportation Systems(ISSN:1524-9050)</th>
                            <th>SCI, IF=2.534,
                                JCR一区
                            </th>
                            <th>2015.10</th>
                            <th>李永福，杨斌，
                                郑太雄等
                            </th>
                        </tr>
                        <tr>
                            <th>8</th>
                            <th>Evaluating the energy consumption of electric vehicles based on car-following model under non-lane discipline</th>
                            <th>Nonlinear Dynamics
                                (ISSN:0924-090X)
                            </th>
                            <th>SCI, IF=3.000,
                                JCR一区
                            </th>
                            <th>2015.05</th>
                            <th>李永福，张力，
                                郑太雄等
                            </th>
                        </tr>
                        <tr>
                            <th>9</th>
                            <th>Lattice hydrodynamic model based delay feedback control of vehicular traffic flow considering the effects of density change rate difference</th>
                            <th>Communications in Nonlinear Science and Numerical Simulation
                                (ISSN:1007-5704)
                            </th>
                            <th>SCI, IF=2.834,
                                JCR一区
                            </th>
                            <th>2015.05</th>
                            <th>李永福，张力，
                                郑太雄，李银国
                            </th>
                        </tr>
                        <tr>
                            <th>10</th>
                            <th>Non-lane-discipline-based car-following model considering the effects of two-sided  lateral gaps</th>
                            <th>Nonlinear Dynamics
                                (ISSN:0924-090X)
                            </th>
                            <th>SCI, IF=3.000,
                                JCR一区
                            </th>
                            <th>2015.04</th>
                            <th>李永福，张力，Srinivas Peeta等</th>
                        </tr>
                        <tr>
                            <th>11</th>
                            <th>Transportation-cyber-physical-systems-oriented engine cylinder pressure estimation using high gain observer</th>
                            <th>Chinese Physics B
                                (ISSN:1674-1056)
                            </th>
                            <th>SCI, IF=1.436,
                                JCR三区
                            </th>
                            <th>2015.04</th>
                            <th>李永福，寇晓培，郑太雄等</th>
                        </tr>
                        <tr>
                            <th>12</th>
                            <th>Extended state observer based adaptive back-stepping sliding mode control of electronic throttle in transportation cyber-physical systems</th>
                            <th>Mathematical Problems in Engineering(ISSN: 1024-123X)</th>
                            <th>SCI, IF=0.644,
                                JCR四区
                            </th>
                            <th>2015.03</th>
                            <th>李永福，杨斌，
                                郑太雄等
                            </th>
                        </tr>
                        <tr>
                            <th>13</th>
                            <th>On the stability analysis of microscopic traffic car-following model: a case study</th>
                            <th>Nonlinear Dynamics
                                (ISSN:0924-090X)
                            </th>
                            <th>SCI, IF=3.009,
                                JCR 一区
                            </th>
                            <th>2013.10</th>
                            <th>李永福，岑明，
                                李银国等
                            </th>
                        </tr>
                        <tr>
                            <th>14</th>
                            <th>Modeling and simulation of microscopic traffic flow based on multiple headway, velocity and acceleration difference</th>
                            <th>Nonlinear Dynamics
                                (ISSN:0924-090X)
                            </th>
                            <th>SCI, IF=1.742
                                JCR 二区
                            </th>
                            <th>2011.05</th>
                            <th>李永福，孙棣华等</th>
                        </tr>
                        </tbody>
                    </table>
                    <h2>2、发明专利</h2>
                    <table border="1" style="text-align: center; width:100%;height: 300px;">
                        <thead>
                        <tr>
                            <th style="width: 40px">序号</th>
                            <th>名称</th>
                            <th>专利号</th>
                            <th>专利类别</th>
                            <th>时间</th>
                            <th>作者</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>1</th>
                            <th>一种停车设施管理系统、停车导航装置及停车导航系统</th>
                            <th>ZL 201310155841.5</th>
                            <th>国家发明专利</th>
                            <th>2013.05</th>
                            <th>李永福，
                                周伟博等
                            </th>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th>一种道路交汇口防撞预警方法、路侧系统与防撞系统</th>
                            <th>201610228081.X</th>
                            <th>国家发明专利</th>
                            <th>2016.04</th>
                            <th>李永福，
                                张力等
                            </th>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th>一种基于车路协同技术的车辆编队方法及其系统</th>
                            <th>201610181181.1</th>
                            <th>国家发明专利</th>
                            <th>2016.03</th>
                            <th>李永福，
                                宋宇等
                            </th>
                        </tr>
                        <tr>
                            <th>4</th>
                            <th>一种基于混沌理论的交通状态预测方法</th>
                            <th>201510274329.1</th>
                            <th>国家发明专利</th>
                            <th>2015.05</th>
                            <th>李永福，
                                蒋肖等
                            </th>
                        </tr>
                        <tr>
                            <th>5</th>
                            <th>基于车联网的实时交通诱导路侧系统及实时交通诱导方法</th>
                            <th>201511013578.1</th>
                            <th>国家发明专利</th>
                            <th>2016.01</th>
                            <th>李永福，
                                蒋肖等
                            </th>
                        </tr>
                        <tr>
                            <th>6</th>
                            <th>一种车路协同通信方法及系统</th>
                            <th>201310615799.0</th>
                            <th>国家发明专利</th>
                            <th>2013.11</th>
                            <th>李永福，
                                窦广健等
                            </th>
                        </tr>
                        <tr>
                            <th>7</th>
                            <th>一种基于移动智能终端的汽车发动机启动方法及系统</th>
                            <th>201410839873.1.</th>
                            <th>国家发明专利</th>
                            <th>2014.10</th>
                            <th>钟志华,
                                李永福等
                            </th>
                        </tr>
                        <tr>
                            <th>8</th>
                            <th>一种基于物联网的汽车发动机定位方法及系统</th>
                            <th>201410840107.7</th>
                            <th>国家发明专利</th>
                            <th>2014.10</th>
                            <th>钟志华,
                                李永福等
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- **********************************************************************************************************************-->
<!-- **********************************************************************************************************************-->
<!-- **********************************************************************************************************************-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p>Copyright © ChongQing University of Post and Telecommunications/X.L.</p>
                <hr>
            </div>
        </div>
    </div>
</footer>


<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/smoothscroll.js"></script>
<script src="/static/js/isotope.js"></script>
<script src="/static/js/imagesloaded.min.js"></script>
<script src="/static/js/nivo-lightbox.min.js"></script>
<script src="/static/js/jquery.backstretch.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/custom.js"></script>

</body>
</html>