{% block bodycontent %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>实验室</title>
    <meta http-equiv="X-UA-Compatible" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/et-line-font.css">
    <link rel="stylesheet" href="/static/css/nivo-lightbox.css">
    <link rel="stylesheet" href="/static/css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar1" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">重庆邮电大学车联网展示平台</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/auto" class="smoothScroll">主页</a></li>
                <li><a href="#team" class="smoothScroll">团队简介</a></li>
                <li><a href="/Photo/" class="smoothScroll">团队成员</a></li>
                <li><a href="/auto/research.html" class="smoothScroll">研究动态</a></li>
                <li><a href="/gallery" class="smoothScroll">照片展示</a></li>
                <li><a href="/auto/contact.html" class="smoothScroll">联系方式</a></li>

            </ul>
        </div>
    </div>
</section>


<<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-12"></div>
            <div class="col-md-10 col-sm-12 main"  >
                <img  src="/static/images/cqyd1.png">
                <div class="main_text">
                    <h1 class="heading bold">团队简介</h1>
                    <p>车联网与智能交通研究所主要围绕车联网与智能交通开展研究，主攻方向为车联网环境下复杂交通系统建模、智能车队列控制、电动车交通流能耗分析、交通状态预测与评估、城市交通仿真平台开发等。</p>

                    <h1 class="heading bold">团队愿景</h1>
                    <P></P>
                    <h1 class="heading bold">团队使命</h1>
                    <P></P>
                    <h1 class="heading bold">核心价值观</h1>
                    <p></p>
                    <h1 class="heading bold">团队历史</h1>
                    <P></P>

                    <div class="history-left1" style="text-align: right; float: left"  >
                        <div class="team_left"  >
                            <div class="history-left" >
                    <!--****************************************************************************************         -->
                    <!--***********************************内容在此修改（上）*****************************************         -->
                    <!--****************************************************************************************         -->
                                <div class="history-date" >
                                2016.3
                                    <span class="dash"></span>
                                </div>
                                <div class="history-text">
                                    团队自2000建立团队自2000建立团队自2000建立团队自2000建立团队自2000建立团队自2000建立
                                    团队自2000建立团队自2000建立团队自2000建立团队自2000建立团队自2000建立团队自2000建立
                                    团队自2000建立团队自2000建立团队自2000建立团队自2000建立团队自2000建立团队自2000建立
                                </div>
                                <div class="history-image">
                                    <img src="/static/images/portfolio-img1.jpg">
                                </div>
                    <!--****************************************************************************************         -->
                    <!--***********************************内容在此修改（下）*****************************************         -->
                    <!--****************************************************************************************         -->

                            </div>
                        </div>
                    </div>
                    <div class="history-right1" style="text-align: left; float: right" >
                        <div class="team_right">
                            <div class="history-right">
                    <!--****************************************************************************************         -->
                    <!--***********************************内容在此修改（上）*****************************************         -->
                    <!--****************************************************************************************         -->
                                <div class="history-date" style="text-align: left">
                                    2013
                                    <span class="dash"></span>
                                </div>
                                <div class="history-text">
                                    团队自2000建立团队自2000建立团队自2000建立团队自2000建立团队自2000建立团队自2000建立
                                    团队自2000建立团队自2000建立团队自2000建立团队自2000建立团队自2000建立团队自2000建立
                                    团队自2000建立团队自2000建立团队自2000建立团队自2000建立团队自2000建立团队自2000建立
                                </div>
                                <div class="history-image">
                                    <img src="/static/images/portfolio-img1.jpg">
                                </div>
                    <!--****************************************************************************************         -->
                    <!--***********************************内容在此修改（下）*****************************************         -->
                    <!--****************************************************************************************         -->
                            </div>
                        </div>
                    </div >
                </div>
            </div>
            <div class="col-md-1 col-sm-12"></div>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p>Copyright © ChongQing University of Post and Telecommunications/X.L.</p>
                <hr>
            </div>
        </div>
    </div>
</footer>


<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/smoothscroll.js"></script>
<script src="/static/js/isotope.js"></script>
<script src="/static/js/imagesloaded.min.js"></script>
<script src="/static/js/nivo-lightbox.min.js"></script>
<script src="/static/js/jquery.backstretch.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/custom.js"></script>

</body>
</html>
{% endblock bodycontent %}